* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
nav {
  background-color: black;
}

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.parent {
  max-width: 1240px;
  display: flex;
  color: white;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container-home {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
header {
  background-color: #0f0f0f;
}
.container-home {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.parent-home {
  max-width: 1240px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.nav-menu-link {
  text-decoration: none;
  color: #ffffff;
}
.nav-menu-item {
  list-style-type: none;
}
.nav-item-item {
  list-style-type: none;
}
.nav-item-link {
  text-decoration: none;
  color: wheat;
  font-size: 14px;
  padding-left: 5px;
}
#dropdown {
  position: relative;
}
.nav-item-menu {
  position: absolute;
  display: none;
}
.nav-menu-link:hover {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: 1s;
}
#home-menu:hover {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: 1s;
}
#menu_items-1:hover {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: 1s;
}
#dropdown:hover .nav-item-menu {
  display: block;
  transition: 1s;
  padding-bottom: 2px;
}
.nav-menu-link:hover {
  padding-top: 4px;
  transition: 2s;
}
.parent_menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* #home-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 80px;
  background-color: #1f1f1f;
} */
.menu-header {
  width: 100%;
  height: 810px;
  background-image: url("../images/rectengle.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
}
.logo-text {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  max-width: 730px;
  height: 96px;
  color: #ffffff;
  text-align: center;
}
#menu-hour {
  display: flex;
}
.hour-fon-col-1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.hour-menu-link {
  width: 100%;
  height: 730px;
  background-image: url("../images/fonblack.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hour-menu-item {
  width: 100%;
  height: 730px;
  background-image: url("../images/jentelmen.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hour-item {
  background-color: #2d2d2d;
  padding: 40px 10px;
}
.hour-item-2 {
  /* width: 240px;
  height: 320px; */
  background-color: #2d2d2d;
  padding: 40px 10px;
}
.hour-item-3 {
  background-color: #2d2d2d;
  padding: 40px 10px;
}
.hour-fon-col {
  max-width: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

h1 {
  text-align: center;
  padding-top: 93px;
  color: #ffffff;
}
h5 {
  padding-top: 15px;
  color: #ffffff;
  width: 150px;
  font-size: 18px;
}
h6 {
  width: 100px;
  padding-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

.hour-menu-fon-1 {
  text-align: center;
  padding-top: 160px;
}
.fon-hour-item-1 {
  padding: 0 20px 0 20px;
  position: relative;
  background-color: #2d2d2d;
  width: 240px;
  height: 320;
}

.lous-menu {
  display: flex;
  justify-content: center;
  gap: 130px;
  padding-right: 90px;
  position: relative;
  top: 40px;
  /* bottom: 150ppx; */
}
h2 {
  width: 129px;
  height: 48px;
  color: aliceblue;
}
.lous-menu-link {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-right: 130px;
  position: relative;
  /* bottom: 340px; */
  color: #ffffff;
  top: 50px;
}
h4 {
  /* width: 410px;
  height: 39px; */
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  padding-top: 450px;
}
.frame {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

#fon-menu {
  display: flex;
}
.fon-item-link {
  width: 100%;
  height: 600px;
  background-image: url("../images/peoople.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fon-item-next {
  width: 100%;
  height: 600px;
  background-image: url("../images/nextfon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.collection {
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  font-size: 36px;
}
.border {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 120px;
  border-bottom: solid 1px #ffffff;
  text-align: center;
}
.collection-text {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 471px;
  height: 173px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}
#button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
#new-collection {
  width: 100%;
  height: 1289px;
  background-image: url("../images/fonblack.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#collection-new {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  height: 48px;
  font-size: 36px;
  color: #ffffff;
  padding-top: 120px;
}
.border-col {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  width: 120px;
  border-bottom: solid 1px #ffffff;
}
.hour-fon {
  display: flex;
  margin-top: 32px;
}

.collection-hour {
  position: relative;
  bottom: 260px;
}
.fon-collection-link {
  padding: 0 23px;
}
.collection-name-1 {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-right: 150px;
  position: relative;
  bottom: 200px;
}
.collection-name {
  width: 140px;
  height: 24px;
  font-size: 18px;
}
.collection-new-money {
  display: flex;
  justify-content: center;
  gap: 200px;
  color: #ffffff;
  position: relative;
  bottom: 180px;
  padding-right: 150px;
}
.collection-menu-hour {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.collectionImage {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 40px;
}
.textMoney {
  padding-top: 25px;
  color: #ffffff;
}
.textName {
  padding-top: 15px;
}
.hourImg {
  background-color: #2d2d2d;
  padding: 40px 15px;
}

.brand-next {
  background-color: #0f0f0f;
  width: 100%;
  height: 362px;
}
#brand-next-menu {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-brand {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
}
.border-next {
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  border-bottom: #ffffff solid 1px;
  width: 120px;
}
.fine-menu {
  padding-top: 70px;
}
.fine-menu-item {
  display: inline-block;
  padding: 0 20px;
}
.bactop {
  text-align: end;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  /* position: relative; */
  position: fixed;
  bottom: 30px;
  left: 1300px;
}
.bactop-home {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 660px) {
  .parent {
    display: block;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .parent-home {
    display: block;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
  }
}
@media (max-width: 340px) {
  .parent_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 15px 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
